/* CSS for main game page */

body {
  font-family: 'Press Start 2P', cursive;
}

.heading-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 35px;
}

audio{
  width: 250px;
  height: 50px;
}

audio::-webkit-media-controls-panel {
  background-color: #24fc02;
}

h1 {
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 36px; 
  text-align: center;
  color:yellow;
}

.high-score-wording {
  font-size: 14px;
  margin-left: 5px;
  color: #fb8302;
}

.life-score-kills-wrapper {
  margin-top: 10px;
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.life-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.life img{
  margin-left: -10px;
}

/* CSS for Game Introduction page */


.game-intro-wrapper {
  border: 3px solid black;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 50px;
  background-color: black;
}

.game-intro-wrapper h2 {
  text-align: center;
  font-size: larger;
  margin-bottom: 2px;
  color: #FF1493;
}

.game-intro-wrapper h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 35px;
  font-size: large;
  color: #24fc02;
}

.controls-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5px;
}

.controls-wrapper p {
  font-size: small;
  color: white;
}

.game-objective-wrapper {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.game-objective-wrapper p {
  font-size: small;
  color: white;

}

#startbtn {
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 180px;
  height: 60px;
  text-align: center;
  border-radius: 20px;
  border: 3px solid #010101;
  font-size: 22px;
  font-family: 'Press Start 2P', cursive;
  background: rgb(1, 203, 248);
  color: #000000;
}

#startbtn:hover {
  transform: rotate(5deg);
  background-color: #FF1493;
  color: #000000;
  cursor: pointer;
  border-radius: 50px;
}


