/* CSS for main game page */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Press Start 2P', cursive;
  background-color: white;
}

.heading-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 35px;
  
}

audio{
  width: 250px;
  height: 50px;
}

audio::-webkit-media-controls-panel {
  background-color: #24fc02;
}

h1 {
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 36px; 
  text-align: center;
  color:yellow;
}

.high-score-wording {
  font-size: 12px;
  margin-left: 5px;
  color: #fb8302;
}

.life-score-kills-wrapper {
  margin-top: 10px;
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  
}

.life-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.life img{
  margin-left: -10px;
  margin-right: 1px;
}

.score-wording {
  color: rgb(0, 255, 0);
  font-weight: bold;
  font-size: 18px;
}

#score-numbers {
  color: rgb(0, 255, 0);
  font-weight: bold;
  font-size: 18px;
}

.kills-wording {
  color: rgb(255, 5, 5);
  font-weight: bold;
  font-size: 18px;
}

.kills-numbers {
  color: rgb(255, 5, 5);
  font-weight: bold;
  font-size: 18px;
}


/* CSS for Game Introduction page */

.game-intro-wrapper {
  border: 3px solid white;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 50px;
  background-color: black;
/* toggle the below display none css property when the start button is clicked and it will remove the game intro page*/
  display: none;
}

.game-intro-wrapper h2 {
  text-align: center;
  font-size: larger;
  margin-bottom: 2px;
  color: #FF1493;
}

.game-intro-wrapper h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: large;
  color: #24fc02;
}

.controls-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5px;
}

.controls-wrapper p {
  font-size: small;
  color: white;
}

.game-objective-wrapper {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.game-objective-wrapper p {
  font-size: small;
  color: white;
  text-align: center;
}

.key-legend-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

.first-row-key-legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-left: 30px;
}

.alien-greeny {
  display: flex;
  flex-direction: row;
  margin-left: -50px;
}
.alien-greeny p {
  font-size: 10px;
  color: white;
  width: 200px;
}

.alien-greeny img {
  margin-right: 5px;
}

.alien-bluey {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  margin-left: 20px;
}

.alien-bluey p {
  font-size: 10px;
  color: white;
  width: 200px;
}

.alien-bluey img {
  margin-right: 5px;
}

.alien-pinky {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  margin-left: 20px;
}

.alien-pinky p {
  font-size: 10px;
  color: white;
  width: 200px;
}

.alien-pinky img {
  margin-right: 5px;
}

.second-row-key-legend {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5px;
}

.spaceship {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: -10px;
}

.spaceship p {
  font-size: 10px;
  color: white;
  width: 200px;
}

.spaceship img {
  margin-right: 6px;
}

.life {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.life p {
  font-size: 10px;
  color: white;
  width: 200px;
  margin-right: 10px;
  
  
}
.life img {
  margin-left: 20px;
}

.explosion {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.explosion p {
  font-size: 10px;
  color: white;
  width: 200px;
  margin-left: 5px; 
}

.explosion img {
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 8px;
  
}

.start-btn-wrapper {
  margin: auto;
  display: block;
  width: 200px;

}

#startbtn {
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 180px;
  height: 60px;
  text-align: center;
  border-radius: 20px;
  border: 3px solid #010101;
  font-size: 22px;
  font-family: 'Press Start 2P', cursive;
  background: rgb(1, 203, 248);
  color: #000000;
}

#startbtn:hover {
  transform: rotate(5deg);
  background-color: #61fe00;
  color: #000000;
  cursor: pointer;
  border-radius: 50px;
}

.author {
  color: orange;
  font-size: 8px;
  text-align: center;
}


/* CSS for main game page- not including heading, highscore, lives, music, kills and score*/

.grid-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  height: 80%;
  width: 80%;
}

.grid div {
  border: 1px solid lightgrey;
  height: 16%;
  width: 8.5%;
  color: black;
  
}

.grid div.pinky {
  background-image: url('Images/purple\ alien.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: none;
  align-content: center;
}

.grid div.bluey {
  background-image: url('Images/alienblue\ \(1\).png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: none;
}

.grid div.greeny {
  background-image: url('Images/green\ alien.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: none;
  
}

.grid div.spaceship {
  background-image: url('Images/spaceship2.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: none;
}

